---
---
@import 'reset';
@import 'globals';
@import 'animations';
@import 'autocomplete';

/*	Base Styles
 ***************************************************************************/
*{
    @include box-sizing(border-box);
}

body{
    background-color: $background;
    color: $normal_text;
    font-family: $ff_body;
    font-size: $medium_body;
    line-height: 1.3;
}

::-moz-selection{
    background: $emphasis_color;
    color: #fff;
}

::selection{
    background: $emphasis_color;
    color: #fff;
}

input, textarea{
    font-family: $ff_body;
}

h1, h2{
    @include antialias;
}

h1{
    font-size: $large_heading;
}

h2{
    font-size: $medium_heading;
}

h3{
    font-size: $small_heading;
}

h1, h2, h3, h4{
    color: $dark_text;
    margin-bottom: 0.8em;
}

p{
    line-height: 1.5;
    margin: 0 0 1.4em;
}

ul, ol{
    margin: 0;
}

a{
    color: $emphasis_color;
    text-decoration: none;

    &:hover{
        text-decoration: underline;
    }

    img{
        vertical-align: bottom;
    }
}

.light{
    font-weight: 300;
}

.shutdown-notice{
    background-color: $dark_highlight;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 15px;

    a{
        color: #fff;
        text-decoration: underline;
    }
}

/*	Form and messages
 ***************************************************************************/

// Animation used to display form errors
.shake{
    @include animate('shake');
}

.autofill{
    @include transition(300ms opacity ease);
    background: url(autofill.png) center center no-repeat;
    width: 18px;
    height: 16px;
    opacity: 0.2;
    position: absolute;
    right: 7px;
    top: 9px;
    padding: 3px;
    cursor: pointer;
    display: none;

    &:hover{
        opacity: 0.5;
    }
}

.buttons a, .button, input[type="submit"]{
    @include border-radius;
    background: $green;
    border: 0 none;
    color: #fff;
    display: inline-block;
    font-size: $medium_heading;
    font-weight: bold;
    line-height: 1;
    margin-right: 7px;
    padding: 9px 10px 10px;
    text-align: center;

    &.save_button .ss-icon, &.save_no_js .ss-icon{
        position: relative;
        top: 1px;
        margin-right: 5px;
    }

    &:hover{
        background: lighten($green, 10%);
        text-decoration: none;
    }

    &:active{
        background: darken($green, 10%);
    }

    &.secondary{
        background: $dark_highlight;

        &:hover{
            background: darken($dark_highlight, 10%);
        }
    }

    &.remove{
        background: $emphasis_color;
    }

    &.loading{
        background: url(button-loading.gif) center center no-repeat $green;
        text-indent: -9999px;
    }

    small{
        display: block;
        font-weight: normal;
        margin-top: 5px;
    }
}

input[type="submit"]{
    -webkit-appearance: none;
}

input[type="text"], input[type="password"], input[type="email"], input[type="date"], input[type="url"], textarea{
    @include border-radius;
    @include box-shadow(inset 0 4px 4px rgba(#000, 0.08));
    border: 1px solid #dadada;
    padding: 8px;
    color: $normal_text;

    &.default{
        color: lighten($light_text, 20%);
    }

    &:focus{
        border: 1px solid darken(#dadada, 20%);
    }

    &.good, &.bad, &.loading, &.duplicate{
        background-image: url(check.png);
        background-repeat: no-repeat;
        background-position: 96% center;
        padding-right: 30px;
    }

    &.loading{
        background-image: url(loading.gif);
    }

    &.duplicate{
        background-image: url(duplicate.png);
    }

    &.bad{
        background-image: url(x.png);
        border: 1px solid $emphasis_color;
    }

    &.tags {
        padding-right: 100px;
    }
}

textarea{
    line-height: 1.5;
    padding: 10px;
}

label{
    font-size: $medium_heading;
    font-weight: bold;
    margin-top: 2px;
    display: inline-block;

    .required{
        font-size: 11px;
        color: $emphasis_color;
    }

    span{
        font-weight: normal;
        color: $light_text;
    }
}

.bad-embed-url, .error{
    color: $emphasis_color;
    clear: both;
    display: block;
    font-size: 12px;
    line-height: 1.3;
    margin: 7px 0 2px;

    a{
        text-decoration: underline;
    }
}

#change-password{
    display: none;
}

.change-password-toggle{
    color: $emphasis_color;
    cursor: pointer;

    &:hover{
        text-decoration: underline;
    }
}

#error_explanation, .error_messages{
    padding: $gutter;
    border: $border;
    margin-bottom: $gutter;

    h2{
        color: $emphasis_color;
    }

    ul{
        margin-left: 20px;
        font-size: 12px;
    }
}

.field_with_errors{
    label{
        color: $emphasis_color;
    }

    input{
        background-image: url(x.png);
        background-repeat: no-repeat;
        background-position: 98% center;
        padding-right: 30px;
    }
}

section.page, div.page{
    label{
        display: block;
        margin: 0 0 5px;
    }

    label.checkbox-label{
        display: inline;
        margin: 0;
        font-weight: normal;
        font-size: 12px;
        position: relative;
        top: -4px;
    }

    .forgot{
        float: right;
        font-size: 11px;
        position: relative;
        bottom: -3px;
    }

    input[type="text"], input[type="password"], input[type="email"], input[type="submit"], input[type="url"], textarea{
        width: 100%;

        &[type="submit"]{
            font-size: 14px;
            padding: 10px;
        }
    }

    input[type="checkbox"]{
        float: left;
        margin-right: 5px;
    }
}

div.notice{
    @include border-radius;
    padding: $gutter/2;
    background: 10px center no-repeat $widget_bg;
    margin-bottom: $gutter;

    &.alert{
        background-image: url(x.png);
        padding-left: 30px;
    }
}

.center{
    text-align: center;
}

.loading{
    background-image: url(loading.gif);
    background-repeat: no-repeat;
    background-position: center center;
}

.avatar img {
    height: auto !important;
}

// Structure
// ------------------------------
.wrap{
    margin: auto;
    max-width: 1200px;
    min-width: 720px;
    width: 95%;
}

.sidebar{
    float: left;
    width: perc($sidebar_width);
}

section.page, div.page{
    float: right;
    width: perc(column(9));
}

/*	Header
 ***************************************************************************/
header.primary{
    background: $emphasis_color;
    color: #fff;
    font-size: 16px;
    margin-bottom: $gutter*2;
    height: 60px;

    a{
        color: rgba(#fff, 0.85);

        &:hover{
            color: rgba(#fff, 1);
        }
    }

    .wrap{
        @include clearfix;
        position: relative;
    }

    ul{
        float: right;
        position: absolute;
        bottom: 15px;
        right: 0;
        text-align: right;
        width: 100%;

        li{
            display: inline-block;
            list-style: none;
            position: relative;

            ul{
                @include border-radius(0 4px 4px 4px);
                background: url(noise-01.png) center center repeat $dark_highlight;
                bottom: auto;
                display: none;
                font-size: 13px;
                font-weight: normal;
                float: none;
                left: 0;
                min-width: 130px;
                position: absolute;
                right: auto;
                text-align: left;
                top: $gutter + 10px;
                width: auto;
                z-index: 99;

                .ss-icon{
                    padding: 0;
                    font-size: 12px;
                    margin-right: 5px;
                    position: relative;
                    top: 2px;
                }

                li{
                    display: block;
                }

                a{
                    display: block;
                    padding: 10px 20px;

                    &:hover{
                        background: rgba(#000, 0.2);
                        text-decoration: none;
                    }
                }
            }
        }

        .current > a{
            font-weight: bold;
            color: #702015;

            &:hover{
                text-decoration: none;
            }
        }

        a, span{
            padding: 22px $gutter;
        }
    }

    .me, .signup{
        font-weight: bold;
    }

    .parent{

        &:hover{
            ul{
                display: block;
            }

            > a{
                background: url(noise-01.png) center center repeat $dark_highlight;
                padding-top: 10px;
            }
        }

        > a{
            @include border-radius(4px);
            background: url(white-arrow.png) right center no-repeat;
            padding-right: $gutter;
            margin-right: 10px;
        }

        &.current{

            &:hover{
                > a{
                    color: #fff;
                }
            }

        }
    }

    .avatar{
        width: 17px;
        height: 17px;
        border: 2px solid #fff;
        margin-right: 8px;
    }

    .search{
        width: perc(column(2));
        position: relative;
        margin-left: 20px;
        position: relative;
        top: -2px;

        input[type="text"]{
            @include border-radius(3px);
            @include box-shadow(none);
            background: $background;
            border: 0 none;
            width: 100%;
            padding: 5px 27px 5px 8px;
            font-size: 14px;
        }

        input[type="submit"]{
            @include box-shadow(none);
            @include border-radius(0);
            background: url(search.png) center center no-repeat;
            height: 12px;
            width: 12px;
            display: block;
            text-indent: -999px;
            position: absolute;
            right: 10px;
            top: 50%;
            padding: 0;
            margin: -6px 0 0 0;
        }
    }
}

.logo{
    margin: 0;
    display: block;
    float: left;
    width: perc($sidebar_width);
    position: relative;
    z-index: 20;
    height: 60px;

    img{
        vertical-align: baseline;
        margin-top: 22px;
    }
}

/*	Sidebar
 ***************************************************************************/
.sidebar{
    @include border-radius;
    font-size: 14px;
    background: $widget_bg;
    padding: $gutter;

    &.no-padding{
        padding: 0;
    }

    &.blank{
        background: none;
        padding: 0;

        .widget{
            @include border-radius;
            padding: $gutter;
            border-bottom: 0 none;

            &.notification{
                padding: 0 10px 0 60px;
            }
        }
    }

    h2{
        color: $normal_text;
        font-size: $medium_heading;
    }

    aside {
        margin-bottom: 20px;

        a{
            display: block;
            margin-bottom: 5px;
        }
    }
}

.widget, .block{
    background: $widget_bg;
    border-bottom: 1px solid darken($widget_bg, 10%);
    padding-bottom: $gutter;
    margin-bottom: $gutter;

    &.notification{
        margin-bottom: $gutter/2;
        line-height: 1.2;

        &:last-of-type{
            margin-bottom: 15px;
        }
    }

    &:last-child{
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none 0;
    }

    p, ul, ol{
        &:last-child{
            margin-bottom: 0;
        }
    }

    .about-header{
        position: relative;
    }
}

.notifications{
    margin-bottom: $gutter;
}

.notification{
    position: relative;
    min-height: 50px;
    padding-left: 60px;
    line-height: 1.4;

    .avatar{
        position: absolute;
        width: 50px;
        left: 0;
        top: 0;

        img{
            @include border-radius(3px 0 0 3px);
        }

        &:hover{
            .ss-icon{
                opacity: 0;
            }
        }
    }

    .top{
        font-size: 13px;
        padding: 8px 0 0;

        a{
            font-weight: bold;
        }
    }

    .top, .bottom{
        @include ellipsis;
        padding-bottom: 1px; // fixes descenders from being cutoff
    }

    .ss-icon{
        @include border-radius(20px);
        @include transition(opacity 450ms ease);
        background: $background;
        font-size: 10px;
        left: -10px;
        line-height: 1;
        margin-top: -10px;
        padding: 6px 0 4px;
        position: absolute;
        text-align: center;
        top: 50%;
        width: 20px;
        color: $dark_highlight;

        &.resave{
            color: $green;
            padding: 6px 0 3px;
        }
    }
}

.did-you-know .button{
    background: darken($widget_bg, 3%);
    color: $dark_text;
    border: 1px solid darken($widget_bg, 10%);
    display: block;

    &:hover, &:active{
        background: darken($widget_bg, 10%);
    }
}

.sidebar.user-sidebar{
    padding-bottom: $gutter;

    .avatar img{
        @include border-radius(3px 3px 0 0);
        vertical-align: bottom;
        width: 100%;
    }
    h2{
        @include border-radius(0 0 3px 3px);
        background: rgba(#000, 0.1);
        color: $dark_text;
        font-size: 13px;
        text-align: center;
        margin: 0 0 $gutter;
        padding: 10px;
    }

    .widget{
        background: none;
        margin-left: $gutter;
        margin-right: $gutter;
    }

    .user-widget{
        margin: 0 0 $gutter;
        padding: 0;
        border-bottom: 0;
    }
}

ul.tags{
    list-style: none;

    li{
        margin-bottom: 6px;
        display: inline-block;

        &:last-child{
            margin-bottom: 0;
        }
    }

    a{
        @include border-radius(10px);
        @include ellipsis;
        @include transition(230ms all ease);
        background: #fff;
        color: $normal_text;
        cursor: pointer;
        display: inline-block;
        line-height: 1;
        padding: 4px 10px;

        small{
            color: $emphasis_color;
            font-size: 10px;
            display: inline-block;
            margin-right: 2px;
        }

        &:hover{
            background: $emphasis_color;
            color: #fff;
            text-decoration: none;

            small{
                color: #fff;
            }
        }
    }
}

/*  InfluAds
 ***************************************************************************/
.influads_block{
    text-align: center;
    background: none;
    border: 1px solid darken($widget_bg, 5%) !important;
    font-size: 11px;

    a{
        color: $normal_text;
        display: inline-block;

        &:hover{
            color: $emphasis_color;
            text-decoration: none;
        }
    }

    .influads_powered_link{
        color: $light_text;
        margin-top: 10px;
    }
}

.influads_text{
    margin-top: 10px;
}


/*	Videos
 ***************************************************************************/
.svg .featured-videos{
    article{
        @include transition(none);
        background: none !important;
    }

}

.no-svg .featured-videos svg{
    display: none;
}

.featured-videos{
    @include clearfix;
    margin-bottom: $gutter*2;

    article{
        @include transition(300ms opacity ease);
        @include background-size(cover);
        background-position: center center;
        float: left;
        overflow: hidden;
        opacity: 0.4;
        width: 50%;

        &.current{
            opacity: 1;

            h1, .color{
                opacity: 1;
            }
        }

        a{
            display: block;
            height: 0;
            padding-top: 56.125%;
            position: relative;
            overflow: hidden;

            &:hover{
                text-decoration: none;

                .color{
                    opacity: 1;
                }
            }
        }

        h1{
            @include ellipsis;
            @include transition(300ms opacity ease);
            @include vertical-gradient(rgba(#000, 0), rgba(#000, 0.4));
            //background: rgba(#000, 0.7);
            color: #fff;
            display: block;
            font-size: $medium_heading;
            margin-bottom: 0;
            opacity: 0;
            padding: 40px 10px 10px;
            position: absolute;
            bottom: 0;
            width: 100%;
            text-shadow: 0 1px 1px rgba(#000, 0.2);
        }
    }

    svg{
        position: absolute;
        top: 0;
        bottom: 0;
        display: block;
        height: 100%;

        &:hover{
            cursor: pointer;

            .color{
    	       opacity: 1;
    	   }
        }
    }

    .color{
        @include transition(300ms opacity ease);
        opacity: 0;
    }
    .bw{
        opacity: 0.7;
    }
}

.videos, .other-videos{
    @include clearfix;

    header{
        font-size: $small_body;
        margin-bottom: $gutter;

        h1{
            border-right: 1px dotted $border_color;
            display: inline-block;
            font-size: $small_body;
            font-weight: normal;
            margin: 0 10px 0 0;
            padding: 3px 10px 3px 0;
        }

        ul{
            display: inline;
        }

        li{
            list-style: none;
            display: inline;
            margin-left: 10px;

            &.current a{
                color: $emphasis_color;
            }
        }

        a{
            color: $normal_text;
        }
    }

    .thumb{
        @include background-size(cover);
        background-position: center center;
        display: block;
        padding-top: 56%;
    }

    article{
        float: left;
        font-size: 11px;
        margin: 0 perc($gutter, $page_width) $gutter 0;
        position: relative;
        width: perc(column(3), $page_width);
        line-height: 1.3;

        &:nth-of-type(3n){
            margin-right: 0;
        }

        a.video{
            &:hover{
                text-decoration: none;
                .saves{
                    opacity: 1;
                }
            }
        }

        .saves{
            @include border-radius(0 0 0 2px);
            @include transition;
            background: $background;
            color: $emphasis_color;
            display: inline-block;
            font-weight: bold;
            line-height: 1;
            opacity: 0;
            padding: 8px 10px;
            position: absolute;
            top: 0;
            right: 0;
        }

        h1{
            @include ellipsis;
            @include transition;
            font-size: 13px;
            margin: 10px 0 0;

            a{
                color: $dark_text;

                &:hover{
                    color: $emphasis_color;
                    text-decoration: none;
                }
            }
        }

        p{
            @include ellipsis;
            margin-bottom: 0;
            color: $light_text;
            line-height: 1.3;
        }

        .video-info{
            position: relative;
        }

        .has-avatar{
            h1, p{
                padding-right: 35px;
            }
        }

        .avatar{
            display: block;
            height: 25px;
            width: 25px;
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    // Fixes an alignment issue when some videos don't have tags
    .tags{
        display: block;
        min-height: 18px;
        overflow: hidden;
    }
}

.pagination{
    margin-top: $gutter*2;
    line-height: 1;
    font-weight: bold;
    text-align: center;

    span{
        display: inline-block;
        margin-right: 8px;

        &.current{
            background: $emphasis_color;
            color: #fff;
            padding: 7px 10px;
        }
    }

    a{
        @include transition;
        display: inline-block;
        border: 1px solid $border_color;
        color: $dark_text;
        padding: 7px 10px;
    }

    a:hover{
        border-bottom-color: $emphasis_color;
        color: $emphasis_color;
        text-decoration: none;
    }
}

/*	Video page
 ***************************************************************************/
.entry{
    font-size: $large_body;
    margin-bottom: 30px;
    padding-bottom: 30px;

    h1{
        margin: 0 0 10px;
        line-height: 1.3;

        &:last-child{
            margin-bottom: 0;
        }
    }

    p{
        margin: 0 0 1.3em;
        font-weight: 300;
        font-size: 18px;

        &:last-child{
            margin-bottom: 0;
        }
    }

    .tags{
        font-size: 13px;
        margin: $gutter 0 0;

        li{
            margin: 0 3px 5px;
        }

        a{
            background: $emphasis_color;
            color: $background;

            &:hover{
                background: $dark_highlight;
            }
        }
    }
}

.other-videos{
    .user-block{
        width: perc(column(2), $page_width);
        float: left;
        font-size: $medium_heading;

        a{
            @include ellipsis;
            display: block;
            font-weight: bold;
        }
    }

    .row{
        @include clearfix;
        border-top: $border;
        margin-top: $gutter;
        padding-top: $gutter;

        &:first-child{
            padding-top: 30px;
            margin-top: 30px;
        }
    }

    article{
        $width: (($page_width - column(2)) - $gutter*3) / 3;
        margin: 0 0 0 perc($gutter, $page_width);
        width: perc($width, $page_width);

        h1{
            font-size: $small_heading;
        }
    }
}

body.no-related{

    .entry{
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0 none;
    }

}

.buttons{
    margin-top: $gutter/2;
    padding-right: 43px;
    position: relative;

    &.no-secondary{
        padding-right: 0;
    }

    a{
        height: 32px;
    }

    .save, .unsave, .edit_profile_button, .follow_no_js, .save_no_js {
        width: 100%;
        margin: 0;
    }

    .secondary{
        padding: 9px 5px 10px;
        width: 33px;
        position: absolute;
        right: 0;
        top: 0;
        margin: 0;

        .ss-social-regular{
            top: 2px;
        }

        .ss-icon{
            font-size: 16px;
            position: relative;
        }

        .label{
          display: none;
        }
    }

    a.watch-later{
        background: #fff;
        color: $icon_color;

        &:hover{
            background: #fff;
            color: $green;
        }

        &.loading{
            text-indent: 0;

            .ss-icon{
                @include animate(clock, 2s, linear, both, 0, infinite);
            }
        }

        .ss-icon{
            @include transform-origin(50% 41%);
            display: block;
            top: 1px;
        }

        &.remove{
            @extend .secondary;
            color: #fff;
        }
    }
}

.meta{
    font-size: 24px;
    color: $emphasis_color;
    font-weight: bold;
    margin-top: -10px; //compensate for line-height of meta p's

    a:hover{
        text-decoration: none;

        span{
            color: $emphasis_color;
        }
    }

    p{
        margin: 0;
    }

    span{
        color: $dark_text;
        font-size: 20px;
        font-weight: 300;
        position: relative;
    }

    .tags{
        margin-top: $gutter;
        font-size: $small_body;
    }

    .saves_count:hover{
        cursor: pointer;

        span{
            color: $emphasis_color;
        }
    }

    .saving-users{
        color: $normal_text;
        display: none;
        font-size: 11px;
        font-weight: normal;
        margin-bottom: 10px;

        a:hover{
            text-decoration: underline;
        }
    }
}

.links{
    a{
        color: $normal_text;
        font-size: 13px;
        display: block;
        margin-bottom: 8px;

        &:last-child{
            margin-bottom: 0;
        }

        &:hover{
            color: $emphasis_color;
            text-decoration: none;

            .ss-icon{
                color: $emphasis_color;
            }
        }
    }

    .ss-icon{
        color: #868686;
        font-size: 12px;
        position: relative;
        top: 1px;
        margin-right: 5px;
    }
}

body.video{
    // Shared by...
    .user{
        @include clearfix;
        font-size: 14px;
        color: $light_text;

        img{
            width: 43px;
            float: left;
            margin-right: 10px;
        }

        p{
            line-height: 1.3;
            margin-bottom: 0;
        }

        a:not(.avatar){
            font-size: 14px;
        }

        time{
            display: block;
            font-size: $small_body;
            color: $light_text;
        }

        .follow_no_js, .save{
            @include border-radius;
            background: url(follow-plus.png) center center no-repeat #868686;
            display: inline-block;
            width: 16px;
            height: 16px;
            margin: 1px 0 0 3px;
            position: relative;
            top: 2px;
            text-indent: -9999px;

            &:hover{
                background-color: $green;
            }
        }

        .unfollow{
            background: url(following-check.png) center center no-repeat;
            border: 1px solid #bcb9b6;
            margin-top: 0;

            &:hover{
                background: url(unfollow-x.png) center center no-repeat $emphasis_color;
                border: 0 none;
                margin-top: 1px;
            }
        }
    }

    div.video{
      text-align: center;
      margin-bottom: $gutter*2;
    }
}

.edit_video, .edit_user, .page .new_video{
    width: perc( column(5), $page_width );

    p{
        position: relative;
    }

    .tag-tip{
        top: 33px;
    }

}

.lights-dimmed{
    div.video{
        position: relative;
        z-index: 100;
    }

    .popover-bg{
        background: rgba(#000, 0.8);
    }
}

/*	Sign up + Log in
 ***************************************************************************/
body.authenticate{
    .page{
        form{
            width: perc( column(4) + (column(1)/2) + $gutter, $page_width);
            float: left;
            border-right: $border;
            padding-right: perc((column(1)/2) + $gutter, $page_width);
            margin-right: perc((column(1)/2) + $gutter, $page_width);

            &.no-border{
                border-right: 0 none;
            }

            p{
                margin: 0 0 15px;
            }
        }

        h1{
            margin-bottom: 30px;
        }

        .button{
            display: block;
            padding-left: 45px;
            font-weight: normal;
            text-align: left;
        }
    }
}

.btn-twitter{
    background: url(twitter.png) 15px center no-repeat #388ed4;

    &:hover{
        background: url(twitter.png) 15px center no-repeat lighten(#388ed4, 6%);
    }

    &:active{
        background: url(twitter.png) 15px center no-repeat darken(#388ed4, 6%);
    }
}

.btn-facebook{
    background: url(facebook.png) 15px center no-repeat #2f519e;

    &:hover{
        background: url(facebook.png) 15px center no-repeat lighten(#2f519e, 6%);
    }

    &:active{
        background: url(facebook.png) 15px center no-repeat darken(#2f519e, 6%);
    }
}

.auth-wrap{
    @include clearfix;

    .social-options{
        width: perc( column(3), $page_width);
        float: left;
    }
}

.provider span{
    text-transform: capitalize;
    font-weight: bold;
}

/*	Users list
 ***************************************************************************/
.user-list{
    li{
        @include clearfix;
        list-style: none;
        display: block;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: $gutter/2;
        padding-bottom: $gutter/2;
        border-bottom: $border;

        &:last-child{
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: 0 none;
        }
    }

    .avatar{
        width: column(1);
        float: left;
        margin-right: $gutter;
    }

    a:hover .info{
        color: $dark_text;
    }

    .info{
        float: left;
        margin-top: 16px;
    }

    small{
        font-size: $small_body;
        color: $light_text;
        display: block;
        font-weight: normal;
    }

    .button{
        margin-top: 17px;
        min-width: column(2);
        float: right;

        &.saved{
            background: none;
            color: $light_text;
            border: 1px solid $border_color;

            &:hover{
                background: $emphasis_color;
                border: 0 none;
                color: $background;
            }
        }
    }
}


/*	Basic page template
 ***************************************************************************/
.basic-page{
    .page{
        h2{
            font-size: 18px;
            color: $normal_text;
        }

        p{
            line-height: 1.5;
        }

        .note{
            color: $light_text;
            font-size: 12px;
        }

        ul{
            margin: 0 0 1em 20px;

            li{
                margin-bottom: 10px;
                font-size: 12px;
            }
        }
    }
}

.user-matches{
    border-top: $border;
    padding-top: $gutter;
    margin-top: $gutter;
    display: block;
}

.videos-list{
    margin-left: 20px;

    li{
        margin: 0 0 5px;
    }
}

/*	Wufoo contact form
 ***************************************************************************/
.basic-page .page .wufoo{
    max-width: column(7);

    ul{
        margin: 0;
        padding: 0;
    }
    li{
        margin: 0 0 15px;
        padding: 0;
        list-style: none;
    }
    .hide{
        display: none;
    }

    textarea{
        height: column(2);
    }

    input[type="submit"]{
        display: inline-block;
        width: auto;
        padding-left: $gutter;
        padding-right: $gutter;
    }
}

.widget.contact-links{
    p{
        font-weight: bold;
        margin-bottom: 5px;
    }
}


/*	Footer
 ***************************************************************************/
footer.small-screen{
    display: none;
}

footer.primary, footer.small-screen{
    @include clearfix;
    border-top: $border;
    font-size: $small_body;
    margin: $gutter * 2 0;
    padding-top: $gutter;
    color: $light_text;

    a{
        font-weight: bold;
        color: $normal_text;

        &:hover{
            color: $emphasis_color;
            text-decoration: none;
        }
    }

    p{
        display: inline;
        float: left;
    }

    .fr{
        float: right;

        a{
            opacity: 0.7;
            position: relative;
            margin-left: 10px;

            &:hover{
                opacity: 1;
            }
        }
    }

    .email{
        top: -1px;
    }

}

/*	Popover
 ***************************************************************************/
.popover{
    $left_side: 470px;
    $right_side: 170px;
    $popover: $right_side + $left_side + $gutter;
    width: $popover;
    position: fixed;
    z-index: 100;
    top: 80px;
    left: 50%;
    margin-left: -($popover)/2;
    display: none;
}

.popover{
    @include popover_header;

    $left_side: 470px;
    $right_side: 170px;
    $popover: $right_side + $left_side + $gutter;

    .main, aside{
        @include border-radius;
        background: $background;
        float: left;
    }

    .main{
        width: perc($left_side, $popover);
        margin-right: perc(20px, $popover);
    }

    input, textarea, .bad-embed-url, .duplicate-save{
        width: perc(340px, $left_side);
        float: right;
        font-size: $medium_body;
    }

    .bad-embed-url{
        font-size: 12px;
    }

    aside{
        width: perc($right_side, $popover);
        padding: 15px;
        font-size: $small_body;
    }

    .bookmarklet{
        display: block;
        margin-right: 0;
    }

    .loading.temp{
        display: block;
        text-indent: -9999px;
        padding: 10px;
        margin-bottom: 20px;
    }

    form{
        @include clearfix;
        padding: 0 $gutter $gutter;

        p{
            @include clearfix;
            display: block;
            line-height: 1;
            margin-bottom: 15px;
            position: relative;

            &:last-child{
                margin-bottom: 0;
            }
        }
    }

    input[type="submit"]{
        margin: 0;
        padding: 10px;
    }
}

.tag-tip{
    font-size: $small_body;
    color: $light_text;
    position: absolute;
    right: 10px;
    top: 12px;
    opacity: 0.8;
    pointer-events: none;
}

.popover-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#000, 0.6);
    display: none;
    z-index: 99;
}

body.new-video{
    .close-share{
        display: none;
    }
    span.loading{
        background-position: center top;
        display: none;
        height: 20px;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -10px;
        text-align: center;
        padding-top: 30px;
    }
}

.page, .popover{

    .new_video, .edit_video{
        .duplicate-save{
            display: none;
            font-size: 12px;
            line-height: 1.4;
            text-align: center;

            .button{
                display: block;
                font-size: 14px;
                margin: 5px 0 $gutter;
                cursor: pointer;
            }

            .notice{
                display: block;
                color: $green;
                font-weight: bold;
                font-size: 11px;

                a{
                    color: $green;
                    text-decoration: underline;
                }
            }

            input[type="submit"]{
                background: none;
                display: inline;
                padding: 0;
                margin: 0;
                color: $emphasis_color;
                font-size: 12px;
                width: auto;
                float: none;

                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}

body.edit-video{
    .autofill{
        top: 33px;
    }
}

/*	Autocomplete
 ***************************************************************************/
.ui-widget{
    @include box-sizing(content-box);
    @include border-radius(0 0 3px 3px);
}

.ui-widget-content{

    .ui-state-hover, .ui-state-active{
        background: rgba(#fff, 0.5);
        color: $emphasis_color;
    }

}

/*	Bookmarklet
 ***************************************************************************/
#organizedwonder{
    @include box-shadow(-2px 0 4px rgba(#000, 0.33));
    width: 280px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    border: none;
    z-index: 9999999998;
}

.bookmarklet{
    background: $background;

    label, input, textarea{
        display: block;
        width: 100%;
        float: none;
    }

    label{
        margin-bottom: 5px;
    }

    .tag-tip{
        top: 31px;
    }

    .ss-icon{
        font-size: 11px;
        margin-right: 3px;
        position: relative;
        top: 1px;
    }
}

@import 'media-queries';