---
layout: default
---

<div class="page">
  <section class="archive">
    <header>
      <h1 class="no-border big-title">
        <span class="light">Videos tagged:</span> {{ page.title }}
      </h1>
    </header>
  </section>

  <ul class="videos-list">
    {% for video_id in page.videos %}
      {% assign video = site.posts | where: "id", video_id %}
      {% if video.first %}
        <li>
          <a href="{{ video.first.permalink }}">{{ video.first.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  {% include footer.html %}
</div>